{{#if this.isLarge}}
{{!-- "on" is a modifier, attaching toggleSize as a click handler --}}
  <button type="button" class="image large" {{on "click" this.toggleSize}}>
  {{!-- ...attributes allows us to pass in any html attribute to the element when invoking the component --}}
  {{!-- a bit like output/yield but for html attributes --}}
    <img ...attributes>
    <small>View Smaller</small>
  </button>
{{else}}
  <button type="button" class="image" {{on "click" this.toggleSize}}>
    <img ...attributes>
    <small>View Larger</small>
  </button>
{{/if}}