<div class="image">
  {{!-- allows us to pass in any html attribute to the element when invoking the component --}}
  {{!-- a bit like output/yield but for html attributes --}}
  <img ...attributes>
</div>>